FrontEnd/Proyect_Apdayc/Service References/SGRDA_Carga/CustomerETDLoadASP1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.dbnet.cl" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.dbnet.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dbnet.cl">
      <s:element name="putCustomerETDLoad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Extras" type="tns:Extras" />
            <s:element minOccurs="0" maxOccurs="1" name="Encabezado" type="tns:Encabezado" />
            <s:element minOccurs="0" maxOccurs="1" name="Detalles" type="tns:ArrayOfDetalle" />
            <s:element minOccurs="0" maxOccurs="1" name="DescuentosRecargosyOtros" type="tns:DescuentosRecargosyOtros" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Extras">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EnvioPdf" type="tns:ArrayOfEnvioPdf" />
          <s:element minOccurs="0" maxOccurs="1" name="Adjuntos" type="tns:ArrayOfAdjuntos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEnvioPdf">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EnvioPdf" nillable="true" type="tns:EnvioPdf" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EnvioPdf">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CamposEnvioPdf" type="tns:CamposEnvioPdf" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CamposEnvioPdf">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NroLinMail" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MailEnvi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailCC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailCCO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mailEnvio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mailCopia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mailCopiaOculta" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdjuntos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Adjuntos" nillable="true" type="tns:Adjuntos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Adjuntos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CamposAdjuntos" type="tns:CamposAdjuntos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CamposAdjuntos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NroLinAdjunto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreAdjunto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionAdjunto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreAdjunto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionAdjunto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Encabezado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="camposEncabezado" type="tns:CamposHead" />
          <s:element minOccurs="0" maxOccurs="1" name="ImptoReten" type="tns:ArrayOfImptoReten" />
          <s:element minOccurs="0" maxOccurs="1" name="DetaDetraccion" type="tns:ArrayOfDetaDetraccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CamposHead">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoDTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Serie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correlativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FchEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoMoneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUTEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRucEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RznSocEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomComer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComuEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrbanizaEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeparEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistriEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaisEmis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUTRecep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRutReceptor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RznSocRecep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecepUbiGeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecepUrbaniza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecepProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecepDepartamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecepDistrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecepCodPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoAutorizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sustento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoNotaCredito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntNeto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntExe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntExo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntTotGrat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntTotBoni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntTotAnticipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntTotal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotDscNA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotCrgNA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntRedondeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndAgenciaViaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndicadorTransfSelva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndicadorServiciosSelva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndicadorContratosSelva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndVentaEmisItinerante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodRetencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntImpRetencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObsRetencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntRetencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntTotalMenosRetencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodPercepcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntImpPercepcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObsPercepcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntPercepcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntTotalMasPercepcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoOperacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechVencFact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEntrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEntregaUbiGeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEntregaUrbaniza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEntregaProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEntregaDepartamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEntregaDistrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEntregaCodPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParUbiGeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParUrbaniza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParDepart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParDistrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParCodPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegUbiGeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegUrbaniza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegDepart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegDistrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirllegCodPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaVehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertVehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marcavehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Licencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUCTranspor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRucTrans" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazoTrans" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModalidadTransporte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPesoBruto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoLocalAnexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumPlacaVehi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImprDest" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombSucursal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COLA_IMPRESION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CantidadItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraEmision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoLeyenda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODI_EMPR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TpoMoneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUTEmisor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiComu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRUTRecep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecepDpto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntTotalAnticipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirlleUbiGeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoOper" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiSucu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColaImpresion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirRecepUbigeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirEntregaUbigeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirllegUrbaniza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirllegDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirllegProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirllegDepart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirllegDistrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CicloFactIni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CicloFactFin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCanalFac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormaPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoNetoPendPago" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfImptoReten">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImptoReten" nillable="true" type="tns:ImptoReten" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImptoReten">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoImpuesto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TasaImpuesto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoImpuesto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoImpuestoBase" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoImp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TasaImp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDetaDetraccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetaDetraccion" nillable="true" type="tns:DetaDetraccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetaDetraccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codiDetraccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorDetraccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntDetraccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PorcentajeDetraccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatriculaHidro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomEmbaHidro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescEspecieHidro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LugarDescHidro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaDescHidro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumPlacaMTC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorReferPreliminar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoReferencial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoReferPreViaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FactorRetorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PuntoOrigen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PuntoDestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CargaEfectiva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoReferVehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigVehicular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CargaUtil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoReferTMViaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiDetra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorDetr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntDetra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PorcentajeDetra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomEmbHidro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MedioPagoDetraccion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDetalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Detalle" nillable="true" type="tns:Detalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Detalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Detalles" type="tns:CamposDetalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CamposDetalle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NroLinea" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtyItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnmdItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VlrCodigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NmbItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrcItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrcItemSinIgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescuentoMonto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndExe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTipoIgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TasaIgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImpuestoIgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoIsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTipoIsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoIsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TasaIsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoProductoSunat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoProductoGS1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GS1TipoGTIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetIndCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetFactorCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetCodigoCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetMontoCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetMBaseCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoBaseImp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoBaseIsc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoOtrosTributos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTipoOtrosTributos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoOtrosTributos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoBaseOtrosTributos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TasaOtrosTributos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTributoBolsaPlastica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoTributoBolsaPlastica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoUnitarioBolsaPlastica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CantidadBolsaPlastica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LeyenPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUTPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRucPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RznSocPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImpTotal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndTipoComision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndInstFinanciera" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetallesParticipe" type="tns:ArrayOfDetalleParticipe" />
          <s:element minOccurs="0" maxOccurs="1" name="DetallesBanco" type="tns:ArrayOfDetalleAdquiriente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDetalleParticipe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalleParticipe" nillable="true" type="tns:DetalleParticipe" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalleParticipe">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDetParticipe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnmdItemPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtyItemPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NmbItemPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrcItemSinIgvPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoItemPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoIscPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTipoIscPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoIscPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoBaseImpPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImpuestoIgvPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndExePart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTipoIgvPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImpTotItemPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescuentosParticipe" type="tns:ArrayOfDescuentoDAE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDescuentoDAE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DescuentoDAE" nillable="true" type="tns:DescuentoDAE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DescuentoDAE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDetParticipe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MBaseCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FactorCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoCargoDescuento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDetalleAdquiriente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalleAdquiriente" nillable="true" type="tns:DetalleAdquiriente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalleAdquiriente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumOrden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUTBcoEmisor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRutBcoEmisor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomBcoEmisor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComisBcoEmisor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoMonComis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImpuestoIgvBco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoBaseImpBco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTipoIgvPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImpTotItemBco" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DescuentosRecargosyOtros">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descuentos" type="tns:ArrayOfDescuentos" />
          <s:element minOccurs="0" maxOccurs="1" name="CargosDescuentosLinea" type="tns:ArrayOfDescuentos" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosAdicionales" type="tns:ArrayOfDatosAdicionales" />
          <s:element minOccurs="0" maxOccurs="1" name="Referencias" type="tns:ArrayOfReferencias" />
          <s:element minOccurs="0" maxOccurs="1" name="Anticipos" type="tns:ArrayOfAnticipos" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosGuia" type="tns:ArrayOfDatosGuia" />
          <s:element minOccurs="0" maxOccurs="1" name="Tramo" type="tns:ArrayOfTramo" />
          <s:element minOccurs="0" maxOccurs="1" name="Conductor" type="tns:ArrayOfConductor" />
          <s:element minOccurs="0" maxOccurs="1" name="PuertoAeropuerto" type="tns:ArrayOfPuertoAeropuerto" />
          <s:element minOccurs="0" maxOccurs="1" name="Transportes" type="tns:ArrayOfTransporte" />
          <s:element minOccurs="0" maxOccurs="1" name="PropiedadesAdicionales" type="tns:ArrayOfPropiedadAdicional" />
          <s:element minOccurs="0" maxOccurs="1" name="TransportesCarga" type="tns:ArrayOfTransporteCarga" />
          <s:element minOccurs="0" maxOccurs="1" name="TramosCarga" type="tns:ArrayOfTramoCarga" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehiculos" type="tns:ArrayOfVehiculo" />
          <s:element minOccurs="0" maxOccurs="1" name="Pagos" type="tns:ArrayOfPago" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDescuentos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Descuentos" nillable="true" type="tns:Descuentos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Descuentos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TpoMov" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorDR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MBaseCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FactorCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoCargoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDet" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDatosAdicionales">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosAdicionales" nillable="true" type="tns:DatosAdicionales" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosAdicionales">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoAdicSunat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NmrLineasDetalle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NmrLineasAdicSunat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionAdicsunat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImprDest" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="val9" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReferencias">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Referencias" nillable="true" type="tns:Referencias" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Referencias">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TpoDocRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerieRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FolioRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RucRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechEmisDocRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MntTotalDocRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MonedaDocRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechOperacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroOperacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImporteOperacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MonedaOperacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImporteMovimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MonedaMovimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaMovimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalMovimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MonedaReferencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MonedaObjetivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCambio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechTipoCambio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnticipos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Anticipos" nillable="true" type="tns:Anticipos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Anticipos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinAnti" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoAnti" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocAnti" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerieAnti" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FolioAnti" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RucAnticipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechPagoAnti" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDatosGuia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosGuia" nillable="true" type="tns:DatosGuia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosGuia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotivoTraslado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescTraslado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndTrasbordo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPesoTraslado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroBultos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdContenedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RucTercero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRucTercero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonTercero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParUbiGeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegUbiGeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParUrbaniza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirllegUrbaniza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParDepart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParDistrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParCodPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirParProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegDepart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegDistrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirLlegCodPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaVehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertVehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marcavehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Licencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalPesoBruto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRucTrans" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazoTrans" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModalidadTransporte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUCTranspor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadMedida" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroRegistroMTC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoReferencial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoReferencialMoneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndSubcontratacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTramo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tramo" nillable="true" type="tns:Tramo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tramo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinTramo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModalidadTraslado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechInicioTraslado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUCTranspor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoRucTrans" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazoTrans" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertVehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlacaVehiculo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConductor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Conductor" nillable="true" type="tns:Conductor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Conductor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinConductor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConductorNroDocId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConductorTipoDocId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPuertoAeropuerto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PuertoAeropuerto" nillable="true" type="tns:PuertoAeropuerto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PuertoAeropuerto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinPuertoAerop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdPuertoAerop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NmbPuertoAerop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPuertoAerop" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransporte">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transporte" nillable="true" type="tns:Transporte" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transporte">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroDetalle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinoPasajero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaSalida" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraSalida" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ManifiestoPasajero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombPasajero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumAsiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumDocPasajero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigenPasajero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocPasajero" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPropiedadAdicional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PropiedadAdicional" nillable="true" type="tns:PropiedadAdicional" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PropiedadAdicional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodConTrib" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValConTrib" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransporteCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransporteCarga" nillable="true" type="tns:TransporteCarga" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransporteCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransPuntoOrigenUbigeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransPuntoOrigenDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransPuntoDestinoUbigeo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransPuntoDestinoDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransDetalleViaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransValorRefServicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransValorRefCargaEfectiva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransValorRefCargaUtil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificadorServicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinDet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinTrans" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTramoCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TramoCarga" nillable="true" type="tns:TramoCarga" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TramoCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TramoPuntoOrigen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TramoPuntoDestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TramoDescripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TramoIdentificador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TramoValorRefCargaEfectiva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TramoValorRefCargaUtil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinTrans" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinTramo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVehiculo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vehiculo" nillable="true" type="tns:Vehiculo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehiculo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VehiculoConfiguracion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehiculoValorRefPorTM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehiculoIndFactorRetorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehiculoCargaUtil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VehiculoCargaEfectiva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroLinTramo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pago" nillable="true" type="tns:Pago" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cuota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoCuota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaVencCuota" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="putCustomerETDLoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="putCustomerETDLoadResult" type="tns:Mensaje" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Mensaje">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensajes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="putCustomerETDLoadXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lsXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="putCustomerETDLoadXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="putCustomerETDLoadXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="putCustomerETDLoadSoapIn">
    <wsdl:part name="parameters" element="tns:putCustomerETDLoad" />
  </wsdl:message>
  <wsdl:message name="putCustomerETDLoadSoapOut">
    <wsdl:part name="parameters" element="tns:putCustomerETDLoadResponse" />
  </wsdl:message>
  <wsdl:message name="putCustomerETDLoadXMLSoapIn">
    <wsdl:part name="parameters" element="tns:putCustomerETDLoadXML" />
  </wsdl:message>
  <wsdl:message name="putCustomerETDLoadXMLSoapOut">
    <wsdl:part name="parameters" element="tns:putCustomerETDLoadXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerETDLoadASPSoap">
    <wsdl:operation name="putCustomerETDLoad">
      <wsdl:input message="tns:putCustomerETDLoadSoapIn" />
      <wsdl:output message="tns:putCustomerETDLoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="putCustomerETDLoadXML">
      <wsdl:input message="tns:putCustomerETDLoadXMLSoapIn" />
      <wsdl:output message="tns:putCustomerETDLoadXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerETDLoadASPSoap" type="tns:CustomerETDLoadASPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="putCustomerETDLoad">
      <soap:operation soapAction="http://www.dbnet.cl/putCustomerETDLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putCustomerETDLoadXML">
      <soap:operation soapAction="http://www.dbnet.cl/putCustomerETDLoadXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerETDLoadASPSoap12" type="tns:CustomerETDLoadASPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="putCustomerETDLoad">
      <soap12:operation soapAction="http://www.dbnet.cl/putCustomerETDLoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putCustomerETDLoadXML">
      <soap12:operation soapAction="http://www.dbnet.cl/putCustomerETDLoadXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerETDLoadASP">
    <wsdl:port name="CustomerETDLoadASPSoap" binding="tns:CustomerETDLoadASPSoap">
      <soap:address location="http://apdayc.ecomprobantes.pe/wssCustomerETDLoadBDUBL21/CustomerETDLoadASP.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerETDLoadASPSoap12" binding="tns:CustomerETDLoadASPSoap12">
      <soap12:address location="http://apdayc.ecomprobantes.pe/wssCustomerETDLoadBDUBL21/CustomerETDLoadASP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>