FrontEnd/Proyect_Apdayc/Service References/SGRDA_Bajas/cargaBajas11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.dbnet.cl" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.dbnet.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dbnet.cl">
      <s:element name="cargaBajas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RUC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArchivoBajas" type="tns:ArrayOfBajas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBajas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="bajas" nillable="true" type="tns:bajas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="bajas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tipo_Docu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Serie_Inte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foli_Inte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fech_Emis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Motiv_Anul" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_refe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo_REEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Serie_REEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foli_REEM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cargaBajasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargaBajasResult" type="tns:Mensaje" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Mensaje">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensajes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackId" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cargaBajasSoapIn">
    <wsdl:part name="parameters" element="tns:cargaBajas" />
  </wsdl:message>
  <wsdl:message name="cargaBajasSoapOut">
    <wsdl:part name="parameters" element="tns:cargaBajasResponse" />
  </wsdl:message>
  <wsdl:portType name="WssCargaBajasSoap">
    <wsdl:operation name="cargaBajas">
      <wsdl:input message="tns:cargaBajasSoapIn" />
      <wsdl:output message="tns:cargaBajasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WssCargaBajasSoap" type="tns:WssCargaBajasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargaBajas">
      <soap:operation soapAction="http://www.dbnet.cl/cargaBajas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WssCargaBajasSoap12" type="tns:WssCargaBajasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargaBajas">
      <soap12:operation soapAction="http://www.dbnet.cl/cargaBajas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WssCargaBajas">
    <wsdl:port name="WssCargaBajasSoap" binding="tns:WssCargaBajasSoap">
      <soap:address location="http://pruebas.ecomprobantes.pe/wssCargaBajas/cargaBajas.asmx" />
    </wsdl:port>
    <wsdl:port name="WssCargaBajasSoap12" binding="tns:WssCargaBajasSoap12">
      <soap12:address location="http://pruebas.ecomprobantes.pe/wssCargaBajas/cargaBajas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>